{% extends "base.html" %}
{% load i18n %}
{%block title%} About {%endblock%}

{% block main %}
    <div class="blog pb-5">
        <div class="container">
            <section class="section single-page">
                <div class="section-title">
                    <h1>{% trans 'About me' %}</h1>
                    <div class="underline"></div>
                </div>
                <div class="section-center page-info">
                    <p>
                        Welcome to our community platform, where writers and readers come together to share ideas, insights, and stories. Here, you can write and publish your own articles, engage with others by commenting on their posts, and explore a wide variety of topics. Our space is designed for creative expression and thoughtful discussion, offering you the opportunity to connect with like-minded individuals. Whether you're a seasoned writer or just getting started, you'll find a supportive environment to grow and share your voice. Join us today to contribute, collaborate, and be inspired by the diverse perspectives of our community.
                        <a href="https://www.darisset.site">Darisset</a>
                    </p>
                </div>
            </section>
        </div>
    </div>

{% endblock %}