{% extends "base.html" %}
{%load static%}
{% block title%} Blogs {% endblock %}

{%block main%}

    <!-- Blog -->
    <div class="">
        <div class="container ">
            <div class="row">
                <div class="section-title mt-5">
                    <h2>All Post</h2>
                    <div class="underline"></div>
                </div>
                <div class="col-lg-8 mb-5">
                    <!-- featured blogs -->
                    <section class="section" id="featured">
                        <!-- featured-center -->
                        <div class="section-center featured-center ">
                            <div class="row justify-content-start">
                            {%for blog in page_obj%}
                            <div class="col-lg-6">
                                    <!-- single blog -->
                                    <article class="blog-card">
                                        <div class="blog-img-container">
                                            <a href="#"><img src="{{blog.picture.url}}" class="blog-img" alt="" /></a>
                                            <p class="blog-date">{{blog.created_at | date:"F jS, Y"}}</p>
                                        </div>
                                        <!-- blog info -->
                                        <div class="blog-info">
                                            <div class="blog-title">
                                                <a href="#">
                                                    <h4>{{blog.title}}</h4>
                                                </a>
                                                <a href="#">
                                                    <p>blog.categories.first.slug | capfirst</p>
                                                </a>
                                            </div>
                                            <p>
                                                {{blog.content | truncatechars:200}}
                                            </p>
                                            <!-- blog footer -->
                                            <div class="blog-footer">
                                                <a href="">
                                                    <p>
                                                        <span><i class="fas fa-user"></i></span> {{blog.author.username}}
                                                    </p>
                                                </a>
                                                <a href="#">
                                                    <p>Read More...</p>
                                                </a>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- end of single blog -->
                            </div>
                            {%empty%}
                            <p> No blogs available </p>
                            {%endfor%}

                            </div>
                        </div>
                       <nav aria-label="...">
                            <ul class="pagination">
                            {% if page_obj.has_previous%}
                                 <li class="page-item">
                                     <a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1" aria-disabled="true">Previous</a>
                                 </li>
                            {%else%}
                                <li class="page-item disabled">
                                     <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                 </li>
                            {%endif%}
                            {% for page in page_obj.paginator.page_range %}
                                <li class="page-item {% if page == page_obj.number %}
                                    active {% endif %}" aria-current="page">
                                    <a class="page-link" href="?page={{page}}">{{page}}</a>
                                </li>
                            {% endfor %}
                            {% if page_obj.has_next%}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a>
                                </li>
                            {%else%}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                                </li>
                            {%endif%}
                            </ul>
                        </nav>
                    </section>
                    <!-- end of featured blogs -->

                    <div class="section-title mt-5">
                        <h2>Recent Posts</h2>
                        <div class="underline"></div>
                    </div>
                    <section class="section" id="featured">
                        <!-- featured-center -->
                        <div class="section-center featured-center ">
                            <div class="row justify-content-start">
                            {%for posts in recent_posts%}
                                <div class="col-lg-6">
                                    <!-- single blog -->
                                    <article class="blog-card">
                                        <!-- blog info -->
                                        <div class="blog-info">
                                            <div class="blog-title">
                                                <a href="#">
                                                    <h4>{{posts.title}}</h4>
                                                </a>
                                                <a href="#">
                                                    <p>{{posts.categories.first.slug | capfirst}}</p>
                                                </a>
                                            </div>
                                            <p>
                                                {{posts.content | truncatechars:200}}
                                            </p>
                                            <!-- blog footer -->
                                            <div class="blog-footer">
                                                <a href="">
                                                    <p>
                                                        <span><i class="fas fa-user"></i></span> {{posts.author.username}}
                                                    </p>
                                                </a>
                                                <a href="#">
                                                    <p>Read More...</p>
                                                </a>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- end of single blog -->
                                </div>
                            {%endfor%}

                            </div>
                        </div>
                    </section>
                </div>

                <div class="col-lg-4">

                    <div class="sidebar-left">
                        <form class="d-flex">
                            <input class="form-control mr-2" name = "search" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>

                    <div class="sidebar-left">
                        <h4 class="text-center">Follow Us</h4>
                        <div class="underline"></div>
                        <ul class="social-icons" class="text-center">
                            <!-- single item -->
                            <li>
                                <a href="https://www.twitter.com" class="social-icon">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                            <!-- end of single item -->
                            <!-- single item -->
                            <li>
                                <a href="https://www.twitter.com" class="social-icon">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </li>
                            <!-- end of single item -->
                            <!-- single item -->
                            <li>
                                <a href="https://www.twitter.com" class="social-icon">
                                    <i class="fab fa-squarespace"></i>
                                </a>
                            </li>
                            <!-- end of single item -->
                            <!-- single item -->
                            <li>
                                <a href="https://www.twitter.com" class="social-icon">
                                    <i class="fab fa-behance"></i>
                                </a>
                            </li>
                            <!-- end of single item -->
                            <!-- single item -->
                            <li>
                                <a href="https://www.twitter.com" class="social-icon">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <!-- end of single item -->
                        </ul>
                    </div>

                    <article class="sidebar-left">
                        <h4 class="text-center">Popular Posts</h4>
                        <div class="underline"></div>
                        <div class="pl-3 pr-3">
                            <a href="#" aria-current="true">
                                <div class="row mb-3">
                                    <div class="col-4">
                                        <img src="{% static 'img/blog1.jpg' %}" class="thumbnail" alt="...">
                                    </div>
                                    <div class="col-8 recent-post">
                                        <h5>Lorem ipsum dolor sit</h5>
                                        <span>San, 12 Jan 2020</span>
                                    </div>
                                </div>
                            </a>
                            <a href="#" aria-current="true">
                                <div class="row mb-4">
                                    <div class="col-4">
                                        <img src="{% static 'img/blog2.jpg' %}" class="thumbnail" alt="...">
                                    </div>
                                    <div class="col-8 recent-post">
                                        <h5>How it is django</h5>
                                        <span>San, 22 Jan 2020</span>
                                    </div>
                                </div>
                            </a>
                            <a href="#" aria-current="true">
                                <div class="row mb-4">
                                    <div class="col-4">
                                        <img src="{% static 'img/blog3.jpg' %}" class="thumbnail" alt="...">
                                    </div>
                                    <div class="col-8 recent-post">
                                        <h5>What happened..?</h5>
                                        <span>San, 14 Jan 2020</span>
                                    </div>
                                </div>
                            </a>
                            <a href="#" aria-current="true">
                                <div class="row mb-4">
                                    <div class="col-4">
                                        <img src="{% static 'img/blog1.jpg' %}" class="thumbnail" alt="...">
                                    </div>
                                    <div class="col-8 recent-post">
                                        <h5>First journal for me</h5>
                                        <span>San, 10 Mei 2020</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </article>

                    <article class="sidebar-left">
                        <h4 class="text-center">Categories</h4>
                        <div class="underline"></div>
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a href="#">Cras justo odio</a>
                                <span class="badge bg-primary rounded-pill">14</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a href="#">Dapibus ac facilisis in</a>
                                <span class="badge bg-primary rounded-pill">2</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a href="#">Morbi leo risus</a>
                                <span class="badge bg-primary rounded-pill">1</span>
                            </li>
                        </ul>
                    </article>
                </div>

            </div>
        </div>
    </div>
    <!-- end blog -->

{%endblock%}