{% extends "base.html" %}
{%load static%}
{% load i18n %}
{% block title%} Blogs {% endblock %}

{%block main%}

    <!-- Blog -->
    <div class="">
        <div class="container ">
            <div class="row">
                <div class="section-title mt-5">
                    <h2> {% trans 'All Post' %}</h2>
                    <div class="underline"></div>
                </div>
                <div class="col-lg-8 mb-5">
                    <!-- featured blogs -->
                    <section class="section" id="featured">
                        <!-- featured-center -->
                        <div class="section-center featured-center ">
                            <div class="row justify-content-start">
                            {%for blog in page_obj%}
                            <div class="col-lg-6">
                                    <!-- single blog -->
                                    <article class="blog-card">
                                        <div class="blog-img-container">
                                            <a href="{%url 'blog/details' slug=blog.slug%}"><img src="{{blog.picture.url}}" class="blog-img" alt="" /></a>
                                            <p class="blog-date">{{blog.created_at | date:"F jS, Y"}}</p>
                                        </div>
                                        <!-- blog info -->
                                        <div class="blog-info">
                                            <div class="blog-title">
                                                <a href="{%url 'blog/details' slug=blog.slug%}">
                                                    <h4>{{blog.title}}</h4>
                                                </a>
                                                <a href="{%url 'blog/details' slug=blog.slug%}">
                                                    <p>{{blog.categories.first.name}}</p>
                                                </a>
                                            </div>
                                            <p>
                                                {{blog.content|safe| truncatechars_html:200}}
                                            </p>
                                            <!-- blog footer -->
                                            <div class="blog-footer">
                                                <a href="">
                                                    <p>
                                                        <span><i class="fas fa-user"></i></span> {{blog.author.username}}
                                                    </p>
                                                </a>
                                                <a href="{%url 'blog/details' slug=blog.slug%}">
                                                    <p>{% trans 'Read More...' %}</p>
                                                </a>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- end of single blog -->
                            </div>
                            {%empty%}
                            <p> No blogs available </p>
                            {%endfor%}

                            </div>
                        </div>

                        {%include "components/pagination.html"%}
                       
                    </section>
                    <!-- end of featured blogs -->

                    {% comment %} <div class="section-title mt-5">
                        <h2>{% trans 'Recent Posts' %}</h2>
                        <div class="underline"></div>
                    </div>
                    <section class="section" id="featured">
                        <!-- featured-center -->
                        <div class="section-center featured-center ">
                            <div class="row justify-content-start">
                            {%for posts in recent_posts%}
                                <div class="col-lg-6">
                                    <!-- single blog -->
                                    <article class="blog-card">
                                        <!-- blog info -->
                                        <div class="blog-info">
                                            <div class="blog-title">
                                                <a href="{%url 'blog/details' slug=posts.slug%}">
                                                    <h4>{{posts.title}}</h4>
                                                </a>
                                                <a href="{%url 'blog/details' slug=posts.slug%}">
                                                    <p>{{posts.categories.first.name}}</p>
                                                </a>
                                            </div>
                                            <p>
                                                {{posts.content|safe| truncatechars_html:200}}
                                            </p>
                                            <!-- blog footer -->
                                            <div class="blog-footer">
                                                <a href="{%url 'blog/details' slug=posts.slug%}">
                                                    <p>
                                                        <span><i class="fas fa-user"></i></span> {{posts.author.username}}
                                                    </p>
                                                </a>
                                                <a href="{%url 'blog/details' slug=posts.slug%}">
                                                    <p>{% trans 'Read More...' %}</p>
                                                </a>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- end of single blog -->
                                </div>
                            {%endfor%}

                            </div>
                        </div>
                    </section> {% endcomment %}
                     {%include "components/recent_posts.html" %}
                </div>

                <div class="col-lg-4">

                    <div class="sidebar-left">
                        <form class="d-flex">
                            <input class="form-control mr-2" name = "search" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">{% trans 'Search' %}</button>
                        </form>
                    </div>

                    <div class="sidebar-left">
                        <h4 class="text-center">{% trans 'Follow Us' %}</h4>
                        <div class="underline"></div>
                        <ul class="social-icons" class="text-center">
                            <!-- single item -->
                            <li>
                                <a href="https://www.twitter.com" class="social-icon">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                            <!-- end of single item -->
                            <!-- single item -->
                            <li>
                                <a href="https://www.twitter.com" class="social-icon">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </li>
                            <!-- end of single item -->
                            <!-- single item -->
                            <li>
                                <a href="https://www.twitter.com" class="social-icon">
                                    <i class="fab fa-squarespace"></i>
                                </a>
                            </li>
                            <!-- end of single item -->
                            <!-- single item -->
                            <li>
                                <a href="https://www.twitter.com" class="social-icon">
                                    <i class="fab fa-behance"></i>
                                </a>
                            </li>
                            <!-- end of single item -->
                            <!-- single item -->
                            <li>
                                <a href="https://www.twitter.com" class="social-icon">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <!-- end of single item -->
                        </ul>
                    </div>




                    {% include "components/popular_posts.html" %}
                    
                    {%include "components/categories.html" %}
                  
                </div>

            </div>
        </div>
    </div>
    <!-- end blog -->

{%endblock%}