{% extends "base.html" %}
{% include "components/popular_posts.html" %}
{%block title%} {{category_name}} {%endblock%}

{%block main%}
    <!-- Blog -->
    <div class="">
        <div class="container ">
            <div class="row">
                <div class="section-title mt-5">
                    <h2>{{category_name}}</h2>
                    <div class="underline"></div>
                </div>
                <div class="col-lg-8 mb-5">
                    <!-- featured blogs -->
                    <section class="section" id="featured">
                        <!-- featured-center -->
                        <div class="section-center featured-center ">
                            <div class="row justify-content-start">
                                {%for c_blogs in page_obj%}
                                <div class="col-lg-6">
                                    <!-- single blog -->
                                    <article class="blog-card">
                                        <div class="blog-img-container">
                                            <a href="{%url 'blog/details' blog_id=c_blogs.id%}"><img src="{{c_blogs.picture.url}}" class="blog-img" alt="" /></a>
                                            <p class="blog-date">{{c_blogs.created_at | date:"d M, Y"}}</p>
                                        </div>
                                        <!-- blog info -->
                                        <div class="blog-info">
                                            <div class="blog-title">
                                                <a href="{%url 'blog/details' blog_id=c_blogs.id%}">
                                                    <h4>{{c_blogs.title}}</h4>
                                                </a>
                                                <a href="{%url 'blog/details' blog_id=c_blogs.id%}">
                                                    <p>{{c_blogs.categories.first.slug | capfirst}}</p>
                                                </a>
                                            </div>
                                            <p>
                                                {{c_blogs.content | truncatechars:200}}
                                            </p>
                                            <!-- blog footer -->
                                            <div class="blog-footer">
                                                <a href="{%url 'blog/details' blog_id=c_blogs.id%}">
                                                    <p>
                                                        <span><i class="fas fa-user"></i></span> {{c_blogs.author.username}}
                                                    </p>
                                                </a>
                                                <a href="{%url 'blog/details' blog_id=c_blogs.id%}">
                                                    <p>Read More...</p>
                                                </a>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- end of single blog -->
                                </div>
                                {%endfor%}
                            </div>
                        </div>

                        {%include "components/pagination.html"%}
                        
                        <!-- end of blogs center -->
                        <div class="blog-btn mt-5">
                            <a href="{%url 'blogs'%}" class="btn">All blogs</a>
                        </div>
                    </section>
                    <!-- end of featured blogs -->
                </div>

                <div class="col-lg-4">

                    <div class="sidebar-left">
                        <form class="d-flex">
                            <input class="form-control mr-2" name = "search" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                  

                    <div class="sidebar-left">
                        <h4 class="text-center">Follow Us</h4>
                        <div class="underline"></div>
                        <ul class="social-icons" class="text-center">
                            <!-- single item -->
                            <li>
                                <a href="https://www.twitter.com" class="social-icon">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                            <!-- end of single item -->
                            <!-- single item -->
                            <li>
                                <a href="https://www.twitter.com" class="social-icon">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </li>
                            <!-- end of single item -->
                            <!-- single item -->
                            <li>
                                <a href="https://www.twitter.com" class="social-icon">
                                    <i class="fab fa-squarespace"></i>
                                </a>
                            </li>
                            <!-- end of single item -->
                            <!-- single item -->
                            <li>
                                <a href="https://www.twitter.com" class="social-icon">
                                    <i class="fab fa-behance"></i>
                                </a>
                            </li>
                            <!-- end of single item -->
                            <!-- single item -->
                            <li>
                                <a href="https://www.twitter.com" class="social-icon">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <!-- end of single item -->
                        </ul>
                    </div>

                    {% include "components/popular_posts.html" %}

                    {%include "components/categories.html" %}
                </div>

            </div>
        </div>
    </div>
    <!-- end blog -->
{% endblock %}