{%extends "base.html" %}
{%load static%}
{% load i18n %}
{%block title%} Home {%endblock%}

{%block main%}
{% include "components/messages.html" %}
    <!-- Banner -->
    <div class="banner">
        <div class="container">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                <div class="carousel-item active">
                        <section>
                            <div class="section-center clearfix">
                                <!-- banner-img -->
                                <article class="banner-img">
                                    <div class="banner-picture-container">
                                        <img src="/media/article_images/solo_travel.jpg" alt="Solo Travel" class="banner-picture">
                                    </div>
                                </article>
                                <!-- banner-info -->
                                <article class="banner-info">
                                    <!-- section title -->
                                    <div class="">
                                        <h3>Top 10 Destinations for Adventure Seekers</h3>
                                    </div>
                                    <!-- end of section title -->
                                    <p class="banner-text">
                                        "Welcome to Your Ultimate Travel Inspiration Hub!" 
                                        Whether you’re a seasoned wanderer or planning your first big adventure, 
                                        you’ve come to the right place! Here, we dive into everything travel — from exotic destinations 
                                        and thrilling outdoor escapades to practical tips that help make each 
                                        journey smoother and more enjoyable. With categories tailored for every type of traveler, 
                                        from solo explorers and adrenaline junkies to budget-conscious backpackers 
                                        and luxury seekers, our goal is to inspire you to see the world in new ways.
                                    </p>
                                    <a href="{% url 'blog/details' slug='top-10-destinations-for-adventure-seekers' %}" class="btn">Learn More</a>

                                </article>
                            </div>
                        </section>
                    </div>
                {%for article in all_articles%}
                    <div class="carousel-item">
                        <section>
                            <div class="section-center clearfix">
                                <!-- banner-img -->
                                <article class="banner-img">
                                    <div class="banner-picture-container">
                                        <img src ="{{article.picture.url}}" alt="tea kettle" class="banner-picture"/>
                                    </div>
                                </article>
                                <!-- banner-info -->
                                <article class="banner-info">
                                    <!-- section title -->
                                    <div class="">
                                        <h3>{{article.title}}</h3>
                                    </div>
                                    <!-- end of section title -->
                                    <p class="banner-text" >
                                        {{article.content|safe| truncatechars_html:200}}
                                    </p>
                                    <a href="{%url 'blog/details' slug=article.slug%}" class="btn">learn more</a>
                                </article>
                            </div>
                        </section>
                    </div>
                {%endfor%}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <!-- end banner -->

    <!-- popular post -->
    <div class="popular-post">
        <div class="container">
            <!-- popular post -->
            <section class="section projects">
                <!-- section title -->
                <div class="section-title">
                    <h2>Popular Posts</h2>
                    <div class="underline"></div>
                </div>
                <!-- end of section title -->
                <div class="section-center projects-center">
                   
                {%for popular in recent_posts%}
                    <a href="detail.html" class="">
                        <article class="project">
                            <img src="{{popular.picture.url}}" alt="" class="project-img" />
                            <div class="project-info">
                                <h4>{{popular.title}}</h4>
                                <p>{{popular.content|safe| truncatechars_html:50}}</p>
                            </div>
                        </article>
                    </a>
                {%endfor%}
                </div>
            </section>
            <!-- endo of projects -->
        </div>
    </div>
    <!-- popular post -->

    <!-- Categori list -->
    <div class="categori-list">
        <div class="container">
            <section class="section bg-grey">
                <div class="section-title mt-5">
                    <h2>Categories</h2>
                    <div class="underline"></div>
                </div>
                <div class="section-center services-center">
                    {%for category in categories%}
                    <article class="service">
                        <a href="{% url 'category' category_slug=category.slug %}">
                            <i class="fas fa-journal-whills ser-icon"></i>
                            <h4>{{category.name}}</h4>
                            <div class="underline"></div>
                        </a>
                    </article>
                    {%endfor%}
                </div>


            </section>
            <!-- end of services category -->
        </div>
    </div>
    <!-- end categori list -->

    <!-- Blog -->
    <div class="blog">
        <div class="container ">
            <div class="row">
                <div class="section-title mt-5">
                    <h2>All Post</h2>
                    <div class="underline"></div>
                </div>
                <div class=" mb-5">
                    <!-- featured blogs -->
                    <section class="section" id="featured">
                        <!-- featured-center -->
                        <div class="section-center featured-center ">
                            <div class="row justify-content-start">
                            {%for blog in blogs%}
                                <div class="col-lg-6">
                                    <!-- single blog -->
                                    <article class="blog-card">
                                        <div class="blog-img-container">
                                            <a href="{%url 'blog/details' slug=blog.slug%}"><img src="{{blog.picture.url}}" class="blog-img" alt="" /></a>
                                            <p class="blog-date">{{blog.created_at | date:"F jS, Y"}}</p>
                                        </div>
                                        <!-- blog info -->
                                        <div class="blog-info">
                                            <div class="blog-title">
                                                <a href="{%url 'blog/details' slug=blog.slug%}">
                                                    <h4>{{blog.title}}</h4>
                                                </a>
                                                <a href="{%url 'blog/details' slug=blog.slug%}">
                                                    <p>{{blog.categories.first.name}}</p>
                                                </a>
                                            </div>
                                            <p>
                                                {{blog.content|safe| truncatechars_html:200}}
                                            </p>
                                            <!-- blog footer -->
                                            <div class="blog-footer">
                                                <a href="">
                                                    <p>
                                                        <span><i class="fas fa-user"></i></span> {{blog.author.name}}
                                                    </p>
                                                </a>
                                                <a href="{% url 'blogs' %}">
                                                    <p>Read More...</p>
                                                </a>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- end of single blog -->
                                </div>
                            {%endfor%}
                            </div>
                        </div>
                        <!-- end of blogs center -->
                        <div class="blog-btn mt-5">
                            <a href="blog.html" class="btn">all post</a>
                        </div>
                    </section>
                    <!-- end of featured blogs -->
                </div>
            </div>
        </div>
    </div>
    <!-- end blog -->

    <div class="container mb-5">
        {%include "components/recent_posts.html" %}
    </div>


{%endblock%}
