{%extends "base.html" %}
{%load static%}
{%block title%} My articles {%endblock%}

{%block main%}

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titles</th>
      <th scope="col">Modified at</th>
      <th scope="col">What do you want to do?</th>
    </tr>
  </thead>
  <tbody>
  
  <form method="get" action="">
    <select name="filter" onchange="this.form.submit()" class="form-select">
        <option value="" {% if not request.GET.filter %}selected{% endif %}>All articles</option>
        <option value="published" {% if request.GET.filter == "published" %}selected{% endif %}>Published</option>
        <option value="unpublished" {% if request.GET.filter == "unpublished" %}selected{% endif %}>Unpublished</option>
    </select>
  </form>

  {% for article in page_obj%}
    <tr>
      <th scope="row">{{ forloop.counter0|add:page_obj.start_index|default:0 }}</th>
      <td><a href="{% url 'blog/details' slug=article.slug %}">{{ article.title }}</a></td>
      <td>{{article.modified_at}}</td>
      <td>
      <a href="{% url 'edit-article' slug=article.slug%}" class="btn btn-outline-secondary btn-sm">Edit</a>
      <a href="{%url 'delete-article' slug=article.slug%}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this article?');">Delete</a></td>
    </tr>
  {%endfor%}

  </tbody>
</table>

{%include "components/pagination.html"%}

{%endblock%}
