{%extends "base.html" %}
{%block title %} Login {%endblock%}

{%block main%}

    <div class="pb-5">
        <div class="container d-flex justify-content-center">
            <article class="contact-form">
                <h3>Login</h3>
                <p>if you don't have a registered account, you can register <a href="register.html">here!</a></p>
                <form>
                    <div class="form-group">
                        <!-- inputs -->
                        <input type="text" placeholder="username" class="form-control mb-3" name="username" />
                        <input type="password" placeholder="password" class="form-control mb-3" name="password1" />
                    </div>
                    <!-- button -->
                    <p><a href="#">Forgot password?</a> </p>
                    <button type="submit" class="contact-btn btn">login</button>
                </form>
            </article>
        </div>
    </div>

{%endblock%}