[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-autoslug = "*"
django = "==5.1"
psycopg2 = "*"
pillow = "*"
django-ckeditor = "*"
django-crispy-forms = "*"
crispy-bootstrap4 = "*"
django-environ = "*"
python-json-logger = "*"
django-log-request-id = "*"

[dev-packages]

[requires]
python_version = "3.12"
