{%load i18n%}
    
    <!-- end of newsletter -->
    <footer class="footer">
        <ul class="social-icons mt-5">
            <!-- single item -->
            <li class="pr-3">
                <a href="https://facebook.com" class="social-icon">
                    <i class="fab fa-facebook"></i>
                </a>
            </li>
            <!-- end of single item -->
            <!-- single item -->
            <li>
                <a href="https://linkedin.com" class="social-icon">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>
            <!-- end of single item -->
            <!-- single item -->
            <li>
                <a href="https://www.twitter.com" class="social-icon">
                    <i class="fab fa-squarespace"></i>
                </a>
            </li>
            <!-- end of single item -->
            <!-- single item -->
            <li>
                <a href="https://www.instagram.com" class="social-icon">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            <!-- end of single item -->
        </ul>

        <p>&copy; <span id="date"></span> {% trans 'All rights reserved' %}</p>
        <form action="{% url 'set_language' %}" method="post" style="display: inline;">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}" />
            {% comment %} <label for="language-select" style="margin-right: 10px;">{% trans 'Select Language:' %}</label> {% endcomment %}
            <select name="language" id="language-select" style="padding: 5px;">
                 <option value="en">🇬🇧 English</option>
                 <option value="az">🇦🇿 Azerbaijani</option>
                 <option value="ru">🇷🇺 Russian</option>
            </select>
            <input type="submit" value="{% trans 'Change Language' %}" style="margin-left: 10px; padding: 5px 10px;">
        </form>

    </footer>