   {%load static%}
   {%load i18n%}
    <!-- navbar -->
    <nav class="nav" id="nav">
        <div class="nav-center">
            <!-- nav header -->
            <div class="nav-header">
                <img src="https://blogarticlesapp.s3.eu-north-1.amazonaws.com/media/user_profile_pictures/travel_logo.png" class="nav-logo" alt="" />
                <button class="nav-btn" id="nav-btn">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            <!-- nav links -->
            <ul class="nav-links">
                <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
                <li><a href="{% url 'about' %}">{% trans 'About' %}</a></li>
                <li><a href="{% url 'contact' %}">{% trans 'Contact' %}</a></li>
                <li><a href="{% url 'blogs' %}">{% trans 'Blog' %}</a></li>
                <div class="dropdown">
                    <a class=" dropdown-toggle" href="#" role="button" id="UserDropdown" data-toggle="dropdown"
                        aria-expanded="false">
                        {% trans 'User' %}
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="UserDropdown">
                    {%if request.user.is_authenticated%}
                        <li><a class="dropdown-item" href="{% url 'my_articles'%}">{% trans 'My articles' %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'create-article' %}">{% trans 'Create Your Article' %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'change-password'%}">{% trans 'Change Password' %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'update-profile' %}">{% trans 'Update your Profile' %}</a></li>
                        <li><a class="dropdown-item" href="{%url 'logout' %}">{% trans 'Logout' %}</a></li>                              
                    {%else%}
                        <li><a class="dropdown-item" href="{%url 'login' %}">{% trans 'Login' %}</a></li>
                        <li><a class="dropdown-item" href="{%url 'register'%}">{% trans 'Register' %}</a></li>
                    {%endif%}              
                    </ul>
                </div>
            </ul>
        </div>
    </nav>

    <!-- sidebar -->
    {% comment %} <aside class="sidebar" id="sidebar">
        <div> {% endcomment %}
            {% comment %} <button id="close-btn" class="close-btn">
                <i class="fas fa-times"></i>
            </button>
            <ul class="sidebar-links">
                <li><a href="index.html">home</a></li>
                <li><a href="about.html">about</a></li>
                <li><a href="contact.html">contact</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="category.html">Category</a></li>
                <li><a href="detail.html">Detail</a></li>
                <li><a href="user.html">user</a></li>
            </ul> {% endcomment %}
            {% comment %} <ul class="social-icons">
                <!-- single item -->
                <li class="pr-3">
                    <a href="https://www.twitter.com" class="social-icon">
                        <i class="fab fa-facebook"></i>
                    </a>
                </li>
                <!-- end of single item -->
                <!-- single item -->
                <li>
                    <a href="https://www.twitter.com" class="social-icon">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
                <!-- end of single item -->
                <!-- single item -->
                <li>
                    <a href="https://www.twitter.com" class="social-icon">
                        <i class="fab fa-squarespace"></i>
                    </a>
                </li> {% endcomment %}
                {% comment %} <!-- end of single item -->
                <!-- single item -->
                <li>
                    <a href="https://www.twitter.com" class="social-icon">
                        <i class="fab fa-behance"></i>
                    </a>
                </li>
                <!-- end of single item -->
                <!-- single item -->
                <li>
                    <a href="https://www.twitter.com" class="social-icon">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <!-- end of single item -->
            </ul>
        </div>
    </aside> {% endcomment %}
    <!-- end of sidebar -->