                
                    <article class="sidebar-left">
                        <h4 class="text-center">Popular Posts</h4>
                        <div class="underline"></div>
                        <div class="pl-3 pr-3">
                        {%for popular in recent_posts%}
                            <a href="{%url 'blog/details' blog_id=popular.id%}" aria-current="true">
                                <div class="row mb-3">
                                    <div class="col-4">
                                        <img src="{{popular.picture.url}}" class="thumbnail" alt="...">
                                    </div>
                                    <div class="col-8 recent-post">
                                        <h5>{{popular.title}}</h5>
                                        <span>{{popular.created_at | date:"d M, Y"}}</span>
                                    </div>
                                </div>
                            </a>
                        {%endfor%}
                        </div>
                    </article>
